:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #845fff;
    --font-fam: 'Lato', sans-serif;
    --height: 4rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
    --home-background: linear-gradient(#160c31, #442597);
}

.DB-section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.DB-navbar {
    width: 250px;
    padding: 20px;
    background-image: var(--home-background);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;




}

.DB-navbar .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.DB-container {
    flex: 1;
    height: 100%;
    background-color: #160c31;
    overflow-y: auto;

}

.navbar--name {
    text-align: center;
}

.DB-navbar .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.navbar-icon {
    border-radius: 15px;
    background-color: red;
    padding: 10px;
    height: 2rem;

    display: flex;
    align-items: center;
    gap: 4px;


}

.navbar-icon .icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
}