:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #845fff;
    --font-fam: 'Lato', sans-serif;
    --height: 4rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
    --home-background: linear-gradient(#160c31, #442597);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--home-background);
    overflow-x: hidden;
}

.blur-container {

    width: 90%;
    height: 69%;
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}

.home-component-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

.home-component--content {

    z-index: 1000;
    padding: 0 10px;


}



.home-component--title {
    padding: 20px;
    font-weight: 450;
    text-align: center;
    color: white;

}

.swap-box {

    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;


}

.swap-box-wrapper {
    position: relative;
}

.swap-box--container {
    width: 100%;

    border-radius: 15px;
    padding: 0 14px;
    background-color: #f8f8f8;
    border: 2.1px solid #f8f8f8;
    display: flex;
    flex-direction: column;


}

.swap-box--container.focused {
    background-color: white !important;

}

.swap-box--select {
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    transition: 5px;
    border-radius: 10px;
    border: none;
    background-color: #f8f8f8;
    border: 4px solid white;
    font-weight: 400;


}

.swap-box--select:hover {
    background-color: #f0f0f0;
}

.select-box {
    padding: 10px 0;
    padding-left: 5px;
    padding-right: 15px;
    background-color: white;


    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

}

.select-box:hover {
    background-color: #f0f0f0;
}

.select-box span {
    color: #00b4d8;
    font-weight: 550;
}

.select-box--img {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    background-image: url("../asset/333a0f124c2d7fe9857e19e8636f36a8_916177912106998656.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swap-button {

    margin-top: 8px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    background-color: #00b4d8;
    color: white;
    font-size: 22px;
    font-weight: 450;
    transition: all 0.1s ease-in-out;
}

.swap-button:hover {
    color: #00b4d8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swap-box--span {
    padding: 14px 0;
    text-align: left;
    color: #7d7d7d;

}

.swap-box--input {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 0;
}

.swap-box--input input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 35px;
    outline: none;
    background-color: transparent;
}

.swap-box--input input::placeholder {
    color: #999;
}

.home-component--footer {
    padding: 20px;
    color: #999;
    text-align: center;
}







/* end of  swap */