.sphere--title {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  color: white;
}

.sphere--title-content {
  position: relative;
  color: white;
  background: transparent;
  --border-right: 6px;
  margin: auto;
  display: inline-block;
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;

  font-size: var(--fs-size);
  font-family: "Arial";

  text-transform: uppercase;
  padding: 0 9px;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.sphere--title-content::after {

  position: absolute;
  box-sizing: border-box;
  content: "Data: The World in Motion";
  color: var(--animation-color);
  width: 0%;
  left: 0;
  top: 0;
  color: #37FF8B;
  z-index: 100;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  white-space: nowrap;

}

/* hover */
.sphere--title-content:hover::after {
  padding: 0 9px;
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.sphere--title-content:hover {
  color: rebeccapurple;
}