.DB-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.Dbtable-component {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid gray; /* Optional: helps visualize the component */
}

.transaction-visualization {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 2s ease;
}

.transaction-visualization.selected {
    justify-content: flex-start; 
}

#visualization {
    min-width: 300px; /* Ensure it doesn’t shrink too much */
    min-height: 300px; /* Maintain a minimum height */
}

.transaction-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    opacity: 0; /* Hidden by default */
    transform: translateX(20px); /* Slide in effect */
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
}

.transaction-details-container.visible {
    opacity: 1;
    transform: translateX(0);
}

.transaction-details-content {
    padding: 10px;
}

.transaction-details-container .close-button {
    position: absolute;
    top: 0;
    right: 5px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 1s ease;
}

.transaction-details .close-button:hover {
    color: red;
}

#main-circle:hover{
    fill: #669900;
}

.child-nodes:hover circle,
.child-nodes:hover line {
    stroke: #669900;
    stroke-width: 5;
}

.child-nodes:hover text {
    fill: #669900;
    font-weight: bold;
}

#sender:hover {
    fill: #669900;
}

@media (max-width: 925px) {
    .transaction-visualization {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align the elements */
        gap: 20px; /* Add spacing between the graph and details */
    }

    .transaction-details-container {
        width: 85%; /* Ensure the details container doesn't span the entire width */
        max-width: 500px;
    }

    #visualization {
        width: 90%;
        height: 90%;
    }

    .Dbtable-component {
        padding: 10px;
    }
}