.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination-controls button {
    background-color: #669900; /* A stronger green */
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-controls button:disabled {
    background-color: #A9A9A9; /* Darker grey for disabled state */
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #669900;
    transform: scale(1.05); /* Slight button zoom effect on hover */
}

.pagination-controls span {
    font-size: 16px;
    margin: 0 10px;
    color: white; /* Darker text color for better readability */
}

/* Responsive styling for small screens */
@media (max-width: 600px) {
    .pagination-controls {
        flex-direction: column;
    }

    .pagination-controls button {
        width: 100%; /* Make buttons full width on small screens */
        padding: 12px;
        font-size: 14px;
    }

    .pagination-controls span {
        font-size: 14px;
    }
}