.container-1 {
    background-image: url(asset/31.png);
    width: auto;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 10px;
}

.container-1-content {
    width: fit-content;
    padding-left: 300px;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}

#main-content {
    color: white;
    font-size: 60px;
}

#supporting-content {
    color: white;
    font-size: 25px;
}


