.menu-container {
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #160C31;
    z-index: 99999999;
}

.menu-elements  {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-elements ul#company-name li{
    color: white;
    list-style: none;
    margin-left: 200px;
    font-size: 25px;
    text-decoration: none;
}
