.menu-container {
    top: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #160C31;
    z-index: 999999999;
}

.menu-elements ul {
    margin-top: 25px;
}

.menu-elements ul li{
    color: white;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
}